* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}
input,
textarea,
select,
button {
  font-size: inherits;
  font-family: inherit;
}
:root {
  --main-color: #212832;
  --second-color: #7264d6;
  --second-color02: #696d76;

  --background-color: #7264d6;
}
/* common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
.btn {
  display: inline-block;
  min-width: 11.3rem;
  min-height: 5.2rem;
  padding: 1.2rem 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  background-color: var(--main-color);
  border: none;
}

.btn:hover {
  opacity: 0.9;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  display: block;
}

.title {
  display: inline-block;
  color: #696d77;
  padding-left: 1.2rem;
  margin-bottom: 1.2rem;
}

.title::before {
  content: "";

  display: inline-block;
  width: 1.8rem;
  height: 0.2rem;
  background-color: #696d77;

  position: relative;
  top: -0.4rem;
  left: -1.2rem;
}

.desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--second-color02);
}

.sub-title2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
  color: #212832;
}

.list-item {
  font-size: 1.8 rem;
  font-weight: 600;
  line-height: 3rem;
  color: #212832;
  margin-left: 1.5rem;
}
.list-item::before {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: var(--background-color);

  position: relative;
  top: 0;
  left: -1.5rem;
}
/* header */
.header {
  background: var(--header-bg);
  margin-top: 4.2rem;
  margin-bottom: 7.6rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 2.4rem;
  height: 2.4rem;
}

span .logo-text {
  color: #000;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_item {
  display: inline-block;
  padding: 1.8rem 2.3rem;
}

.nav_item:hover a::after {
  display: block;
}

.nav_item a {
  color: var(--second-color02);
}

.nav_item a::after {
  content: "";
  display: none;
  width: 100%;
  height: 1px;
  background-color: var(--background-color);
  position: relative;
  top: 0.4rem;
  left: 0;
}

.action {
  display: flex;
}

.btn-login {
  background-color: white;
  border: none;
  color: #000;
}
/* Hero */
.hero {
  display: flex;

  gap: 6rem;
  align-items: center;
}

.hero-desc {
  max-width: 54rem;
}

.hero_sub-title {
  font-size: 6rem;
  font-weight: 700;
  line-height: 7rem;
  color: var(--main-color);
}

.hero-mark {
  color: var(--second-color);
  background: white;
}
.hero-desc_desc {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.hero_action {
  display: flex;
  align-items: center;
  width: 100%;
  height: 7.4rem;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  box-shadow: -8px 4px 16px 15px rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: -8px 4px 16px 15px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: -8px 4px 16px 15px rgba(0, 0, 0, 0.03);
}
.hero-input {
  width: 680%;
  padding: 1.2rem;
  margin: 1.2rem;
  border: none;
}

.hero-input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: var(--second-color02);
}
.btn-hero {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 14.9rem;
  min-height: 5.8rem;
  background-color: var(--background-color);
  color: white;
  cursor: pointer;
}

.hero_text {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--second-color02);
  margin-top: 2rem;
}
.hero-right {
  max-width: 57rem;
  height: 56.2rem;
}

.hero_img {
  position: relative;
  top: 0;
  left: 9.8rem;
}
.deposite-group {
  display: inline-block;
  max-width: 17.4rem;
  height: 4.6rem;
  background: white;
  box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
  padding: 1.4rem 1rem;
  border-radius: 0.6rem;
  position: relative;
  top: -45rem;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deposite-icon {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.icon {
  width: 1.8rem;
  height: 1.8rem;
}
.deposite {
  font-size: 1.4rem;
  font-weight: 600;
  color: #31456a;
}
.price {
  font-size: 1.4rem;
  font-weight: 600;
  color: #4ab5e3;
}

.interest-group {
  position: relative;
  top: -484px;
  right: -439px;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  background-color: #da6464;
}
.interest-number {
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 6rem;
  color: white;
}

.interest-text {
  color: white;
}
.secured-group {
  position: relative;
  top: -310px;
  left: 337px;

  max-width: 12.4rem;
  height: 6.8rem;
  background: #439f90;
  border-radius: 1rem;

  display: flex;
  gap: 1rem;
  align-items: center;

  padding: 2rem 1.4rem;
}

.secured-icon {
  width: 2rem;
  height: 2.6rem;
}

.secured-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.secured-price {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: white;
}
.price-text {
  font-size: 0.8rem;
  font-weight: 400;
  color: white;
}
/* How it wordks */
.how-it-works {
  margin-top: 16rem;
  display: flex;
  gap: 23.7rem;
  align-items: center;
}

.how-it-work-avatar-group {
  max-width: 45.6rem;
  height: 61.9rem;
}

.how-it-works-avatar {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.how-it-works-icon {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 0.8rem;
  /* background-color: var(--background-color); */
  background-color: tan;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: -546px;
  left: 327px;
}

.how-icon-logo {
  margin: 1 rem;
  width: 2.7rem;
  height: 2.2rem;
  object-fit: contain;
}

.how-it-works-congr {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  max-width: 22.6rem;
  height: 7.7rem;
  border-radius: 0.8rem;
  padding: 1.5rem;
  box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);

  position: relative;
  top: -212px;
  left: 345px;
  background-color: white;
}

.how-icon {
  width: 4rem;
  height: 4rem;
  border: 0.6rem;
}

.how-it-work-congr-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.congr-title {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6rem;
  color: #212832;
  margin-bottom: 0.6rem;
}

.congr-text {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #696d76;
}
.how-it-works-desc {
  max-width: 47rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sub-title02 {
  margin-top: 1.2rem;
  margin-bottom: 4rem;
}

.how-it-work-desc-group {
  margin-top: 3rem;
}

.sub-title4 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: #212832;
}

.sub-title04-desc {
  margin-top: 1.6rem;
}
/* Feature 1 */
.feature-1 {
  margin-top: 16rem;
  display: flex;
  gap: 13rem;
  align-items: center;
}

.feature-1-info {
  max-width: 47rem;
}

.feature-1-sub-title2 {
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.feature-1-desc {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.feature-1-list {
  margin: 1.8rem 0;
}

.feature-1-btn {
  margin-top: 2.8rem;
  display: inline-flex;
  min-width: 14.9rem;
  height: 5.8rem;
  background-color: black;
  color: white;
}

.feature-1-cart {
  max-width: 57rem;
  height: 42.5rem;
}

.feature-1-img {
  width: 48.2rem;
  height: 32.2rem;
  display: flex;
  justify-content: start;
  align-items: center;
}

.send-money-group-main {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  min-width: 27.6rem;
  padding: 2.3rem 1.3rem;

  position: relative;
  top: -369px;
  right: -294px;
  z-index: 999;
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
}
.send-money-group {
  display: inline-flex;
  gap: 0.5rem;
  align-items: center;
}
.send-icon {
  width: 4rem;
  height: 4rem;
}

.send-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.send-title {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: #212832;
}
.send-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: var(--main-color);
}

.income-group {
  position: relative;
  top: -148px;
  right: -449px;
  max-width: 12rem;
  height: 12rem;
  border-radius: 0.8rem;
  background-color: plum;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.incom-icon {
  width: 3rem;
  height: 3rem;
}
/* Feature 2 */
.feature-2 {
  margin-top: 13rem;
  display: flex;
  gap: 13rem;
  align-items: center;
}

.feature-2-avatar {
  min-width: 57rem;
  height: 60rem;
  position: relative;
  z-index: 9999;
}
.feature-img {
  object-fit: cover;

  width: 47rem;
  height: 100%;
  display: flex;
  justify-content: start;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0.8rem;
}
.feature-icon01 {
  position: relative;
  top: 245px;
  left: 441px;
  z-index: 999;
}
.feature-2-group {
  max-width: 28.1rem;
  max-height: 22rem;
  border-radius: 0.8rem;

  padding: 2.8rem;

  position: relative;
  top: 154px;
  left: 246px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
  background-color: white;
}
.feature-2-desc {
  max-width: 47rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #212832;
  margin-bottom: 2rem;
}
.list-img {
  display: flex;
  gap: 1.8rem;
  flex-wrap: wrap;
  z-index: 999;
}
.list-img img {
  width: 6.3rem;
  height: 4.8rem;
}
.feature-2-desc {
  max-width: 47rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature-2-sub-title2 {
}
.feature-2-desc {
  color: var(--second-color02);
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.feature-2-list-item {
  margin: 0.8rem 0;
}
.feature-2-btn {
  margin-top: 2rem;
}

/* our-testimonial */
.our-testimonial {
  margin-top: 16rem;
}
.our-testimonial-row01 {
  /* display: inline-flex; */
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
}
.our-testimonial-row01_sub-tile2 {
  margin-top: 1.2rem;
  margin-bottom: 1.8rem;
}
.our-testimonial-row01_desc {
  display: inline-block;
  max-width: 45.5rem;
}
.our-testimonial-row02 {
  margin-top: 7rem;
  display: flex;
  gap: 3rem;
  align-items: center;
}
.our-testimonial-row02-left {
  max-width: 57rem;

  z-index: 0;
}
.our-testimonial-row02-left div {
  max-width: 57rem;
  height: 25rem;
  position: relative;
}
.our-testimonial-row02-left-desc:hover {
  background-color: white;
  border: none;
  box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
}
.our-testimonial-row02-left-desc:hover::after {
  background-color: white;
  border: none;

  border-left: 34px solid rgba(0, 0, 0, 0.14);
  border-right: 38px solid rgba(0, 0, 0, 0.14);
  box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -2px 19px 16px 8px rgba(0, 0, 0, 0.14);
}

.our-testimonial-row02-left-desc {
  width: 100%;
  height: 21.2rem;
  background-color: green;

  padding: 4.2rem 2.8rem;

  border-radius: 0.8rem;
  border: 0.1rem solid #dfe2e8;
  background-color: white;
  z-index: 1;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
}
.our-testimonial-row02-left-desc::after {
  content: "";
  display: inline-block;

  width: 0;
  height: 0;
  border-left: 34px solid rgba(0, 0, 0, 0.14);
  border-right: 38px solid rgba(0, 0, 0, 0.14);

  /* border: 0.1rem solid #dfe2e8; */
  border-top: 20px solid white;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.avatar-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 10.4rem;
  height: 10.4rem;
  border-radius: 50%;
}
.name {
  margin-top: 2rem;
  margin-bottom: 0.2rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 3.6rem;
  color: #070052;
}
.name-desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--second-color02);
}

.our-testimonial-row03 {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
}
.point {
  display: inline-block;
  width: 2.2rem;
  height: 0.6rem;

  border: 0.1rem solid #9b9fab;
}
.active {
  border-color: #7264d6;
  background-color: #7264d6;
}
/* Our Blog */
.our-blog {
  margin-top: 16rem;
}
.our-blog-row01 {
  margin-bottom: 7rem;
}

.our-blog-row01-group {
  display: flex;
  justify-content: space-between;
}

.our-blog-row01-group-desc {
  margin-top: 1.8rem;

  max-width: 46.5rem;
  text-align: justify;
}
.action .btn-our {
  min-width: 12.3rem;
  height: 5.8rem;
}

.our-blog-row02-list {
  display: flex;
  flex-wrap: wrap;

  gap: 3rem;
  align-items: center;
}

.our-blog-row02 .item {
  max-width: 57rem;
  height: 21.6rem;

  border-radius: 1.2rem;
  padding: 2.8rem;

  display: flex;
  gap: 2.2rem;
  align-items: center;

  border: 0.1rem solid #dfe2e8;
}
.our-blog-row02 .item:hover {
  background-color: white;
  box-shadow: -2px 8px 32px -5px rgba(0, 0, 0, 0.66);
  -webkit-box-shadow: -2px 8px 32px -5px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: -2px 8px 32px -5px rgba(0, 0, 0, 0.66);
  border: none;
  cursor: pointer;
}
.item-image {
  width: 16rem;
  height: 16rem;
  border-radius: 1.2rem;
}

.our-blog-row02-item--desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.item-time {
  font-size: 1.4rem;
  color: var(--second-color02);
}
.desc-our {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem;
  color: #212832;
}
.item-link {
  color: var(--second-color);
  cursor: pointer;
}
/* Our App */
.our-app {
  background-color: #add;
  margin-top: 16rem;

  min-height: 46.6rem;
  border-radius: 2.4rem;
  background: var(--background-color);
  color: white;
  padding: 10rem 0;
}
.our-app-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-title {
  color: white;
}

.our-sub-title {
  color: white;
}
.our-desc {
  color: white;
  display: inline-block;
  max-width: 43.5rem;
  margin-top: 1.2rem;
  margin-bottom: 1.8rem;
}

.our-app-icon-group {
  display: inline-flex;
  gap: 1.6rem;
  align-items: center;
  margin-top: 3.8rem;
}

.footer {
  background: #fafbff;
  margin-top: 10rem;
}
.footer-row-01 {
  display: flex;
  justify-content: space-between;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}
.item {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
.item-title {
  color: #212832;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
}
.desc-p {
  max-width: 37rem;
}
.item input {
  padding: 0 1.2rem;
  line-height: 5.2rem;
  min-width: 2.7rem;
  border-radius: 0.6rem;
  border-color: #8e919a;
  margin-right: 2rem;
}
.item input::placeholder {
  color: #8e919a;
}
.footer-row02 {
  text-align: start;
  display: flex;
  gap: 10rem;
  margin: 5.4rem 0 2.4rem 0;
}
.item img {
  width: 2.1rem;
  height: 2.1rem;
}
.desc-action {
  display: flex;
  flex-direction: column;

  align-items: start;
  gap: 1rem;
}

.desc-action div {
  display: flex;
  gap: 0.6rem;

  align-items: start;
}

.btn-footer {
  min-width: 11rem;
  line-height: 5.2rem;
  /* padding: 1rem 1.8rem; */
  padding: 0;
  border-radius: 0.6rem;
  color: white;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer-row-03 {
  width: 100%;
  padding: 2.8rem 0;
  background: var(--background-color);
  color: white;
}
.footer-row-03 p {
  color: white;
  text-align: center;
}
